pyrogram==2.0.106
tgcrypto>=1.2.2
requests>=2.31.0
pyromod>=0.2.0
ffmpeg
mediainfo
cloudscraper>=1.2.71
beautifulsoup4>=4.12.2
bs4
aiohttp>=3.8.5
aiofiles>=23.1.0
yt-dlp>=2023.10.7
pycryptodome>=3.18.0
PySocks>=1.7.1
websockets>=11.0.3
psutil>=5.9.5
async-lru>=2.0.4
helper
pyaes>=1.6.1
py-tgcalls>=1.0.0
soupsieve
